.main,.statics{
  @include laptop{
    width: 60%;
  }
height: 250px;
width: 90%;
margin-left: auto;
margin-right: auto;
background-color:$white;
border-radius: 20px;
}
.main{
  @include laptop{
    transform: translateY(-40%);
  }
  transform: translateY(-20%);
  position: relative;
  &__logo{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__div{
    @include laptop{
      position: relative;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__logoTwo,&__link{
    display: block;
  }
  @include laptop{
    &__logoTwo{
      position: absolute;
      top: -5px;
      right: 30%;
      cursor: pointer;
    }
  }
  &__link{
    @include laptop{
      width: 25%;
      margin-left: 25px;
      margin-right: 10%;
      &:hover{
        background-color: $darkcyan;
      }
    }
    text-align: center;
    text-decoration: none;
    padding: 1em;
    width: 70%;
    background-color: $moderateCyan;
    color: $white;
    border-radius: 25px;
  }
  &__title{
    padding-top: 1.5em;
    font-size: 1.4em;
    text-align: center;
  }
  &__info{
    text-align: center;
    color: $darkgray;
  }
  &__book{
    @include laptop{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 1em;
      height: 50px;
      width: 150px;
      background-color: $bgCard;
      border-radius: 25px;
      cursor: pointer;
    }
    display: none;
  }
}
.statics{
  margin-top: -35px;
  height: 350px;
  text-align: center;
  @include laptop{
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
  }
  &__title{
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0;
    &:first-child{
      padding-top: 0.5em;
    }
  }
  &__info{
    color: $darkgray;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -20px;
      left: 40%;
      display: block;
      width: 20%;
      height: 1px;
      background-color: $darkgray;
      @include laptop {
        width: 2px;
        height: 70px;
        top: -250%;
        left: 120%;
        background-color: $bgCard;
      }
    }
  }
  &__bar{
    @include laptop{
      grid-column: span 3;
    }
    width: 90%;
    height: 12px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ccc;
    position: relative;
    &::after{
      content: '';
      display: block;
      position: absolute;
      border-radius: 10px;
      left: 0;
      background-color: $moderateCyan;
      height: inherit;
      width: 80%;
    }
  }
}